<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Welcome</h1>
    <div class="col-6 offset-3">
        <h3>Please log in</h3>
        <form action="/login" method="post" novalidate class='needs-validation'>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>

            <div class="mb-3"><button class="btn btn-success">Login</button></div>

        </form>

        <h5>Not registered yet?</h5>
        <a href="register">Create an account</a>
    </div>
</div>
